<% content_for :head do %>
  <%= tag.meta name: "site-id", content: @site.id %>
<% end %>
<div class="py-6">
  <div class="mx-auto px-6 lg:px-8">
    <div class="grid grid-cols-1 lg:grid-cols-[250px_1fr] lg:gap-6">
      <div id="sidebar" class="space-y-6 mb-6">
        <%= render partial: "shared/site_navigation", locals: { site: @site } %>
      </div>
      <div id="document-list" class="px-0 space-y-0 md:overflow-x-scroll">
        <div class="bg-gray-50 shadow-sm rounded-t-lg px-6 py-4  border-b-gray-200 border-b">
          <div class="flex justify-between items-center">
            <h1 class="text-lg font-medium"><%= @site.location %>: <%= @site.name %></h1>
            <div role="tablist" id="document-tabs" class="tabs tabs-boxed">
              <%= link_to site_documents_path(@site), role: "tab", class: "tab" do %>
                Documents
              <% end %>
              <%= link_to insights_site_documents_path(@site), role: "tab", class: "tab" do %>
                Insights
              <% end %>
              <%= link_to audit_exports_site_documents_path(@site), role: "tab", class: "tab tab-active" do %>
                Audit Exports
              <% end %>
            </div>
          </div>
        </div>
        <div class="bg-white shadow-sm rounded-b-lg overflow-x-scroll">
          <div class="px-6 py-4">
            <h2 class="text-lg font-medium">Audit Exports</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
